@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
 
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
 
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 100%;

    --brand-red: #fc6f60b1;
    --brand-blue: #d3d6e8f6;
    --brand-green: #71eb99;
    --brand-yellow: #ffffa9;
    --brand-purple: #800080;
    --brand-orange: #FFA500;
    --brand-gray: #808080;
    --brand-white: #FFFFFF;
    --brand-black: #000000;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --border: 0 0% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
